<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1,
    maximum-scale=1.0, user-scalable=no'/>
  <title>AndeBlogs Blogging Platform</title>

  <!-- CSS  -->
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons'
    rel='stylesheet'>
  <link type='text/css' rel='stylesheet'
    href='https://www.gstatic.com/firebasejs/ui/0.4.0/firebase-ui-auth.css' />
  <link href='css/materialize.css' type='text/css' rel='stylesheet'
    media='screen,projection'/>
  <link href='css/style.css' type='text/css' rel='stylesheet'
    media='screen,projection'/>
</head>
<body id='myProfile'>
  <div id="header"></div>

  <div class='container'>
    <div class="section">
      <br />
      <div class="row">
        <div class='col m3 s4'>
          <div id="picture"></div>
      </div>
        <div class='col m9 s8'>
          <h5 id="name">Name</h5>
          <p>
          <span id="followers">#</span> Followers
          &nbsp;&nbsp;
          <span id="following">#</span> Following
          <br />
          <p><a href='/write'>Write new post</a></p>
        </p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="section">
      <div class="row">
        <div class='col l7 s12'>
          <p><strong>My Blog Posts</strong></p>
          <div id='blogPostsList'></div>
        </div>
        <div class='col l5 s12'>
          <p><strong>Blog Posts I Like</strong></p>
          <div id='likedPostsList'></div>
        </div>
      </div>
    </div>
  </div>


  <div id='footer'></div>
    <!--  Scripts-->
    <script
      src='https://www.gstatic.com/firebasejs/live/3.0/firebase-app.js'></script>
    <script
      src='https://www.gstatic.com/firebasejs/live/3.0/firebase-auth.js'></script>
    <script src='https://www.gstatic.com/firebasejs/ui/0.4.0/firebase-ui-auth.js'>
      </script>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script src='js/jquery-2.2.4.min.js'></script>
    <script src='js/init.js'></script>
    <script src='js/materialize.min.js'></script>
    <script src='js/script.js'></script>

    </body>
    </html>
