<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1,
    maximum-scale=1.0, user-scalable=no'/>
  <title>AndeBlogs Blogging Platform</title>

  <!-- CSS  -->
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons'
    rel='stylesheet'>
  <link href='css/materialize.css' type='text/css' rel='stylesheet'
    media='screen,projection'/>
  <link href='css/style.css' type='text/css' rel='stylesheet'
    media='screen,projection'/>
  <script
    src='https://www.gstatic.com/firebasejs/live/3.0/firebase-app.js'></script>
  <script
    src='https://www.gstatic.com/firebasejs/live/3.0/firebase-auth.js'></script>
  <script src='https://www.gstatic.com/firebasejs/ui/0.4.0/firebase-ui-auth.js'>
    </script>
  <link type='text/css' rel='stylesheet'
    href='https://www.gstatic.com/firebasejs/ui/0.4.0/firebase-ui-auth.css' />
</head>
<body>
  <div id='header'></div>
  <div id='container'>
    <div class='row'>
      <div class='col s12'>
        <ul class='tabs'>
          <li class='tab col s6'><a href='#signup'>Sign Up</a></li>
          <li class='tab col s6'><a href='#login'>Login</a></li>
        </ul>
      </div>
      <div id='signup' class='col s12'>
        <h5>Sign Up</h5>
      </div>
      <div id='login' class='col s12'>
        <h5>Login to AndeBlogs</h5>
        <div id='signupError'></div>
        <div class='row'>
          <div class='input-field col s12'>
            <input id='username' type='text' class='validate'>
            <label for='username'>Username</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input id='password' type='password' class='validate'>
            <label for='password'>Password</label>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id='footer'></div>
  <!--  Scripts-->
  <script src='https://www.gstatic.com/firebasejs/live/3.0/firebase.js'></script>
  <script src='js/jquery-2.2.4.min.js'></script>
  <script src='js/init.js'></script>
  <script src='js/materialize.min.js'></script>
  <script src='js/script.js'></script>
</body>
</html>
